<li class="board-column-item">
  <% fields_for "board[board_columns_attributes][]", board_column, :index => nil do |t| %>
    <%= t.text_field :label, :size => 60, :maxlength => 150 %>
    <%= t.hidden_field :rank %>
    <p>
      <%= link_to_function image_tag('icons/remove_mini.gif', :alt => 'Remover', :title => 'Remover registro'), "$(this).up('.board-column-item').remove()" %>
    </p>
  <% end %>
</li>
